In [1]:
import pandas as pd
import numpy as np
# import helper
# import project_helper
# import project_tests

In [3]:
price_csv = "etl/data/processed_btc_prices_ohlcvvw_2014-12-01_to_2018-11-11.csv"
df = pd.read_csv(price_csv, parse_dates=['date'], index_col=False)
print('Loaded Data')

Loaded Data

In [5]:
df = df.drop(columns='Unnamed: 0')

In [6]:
df.head()

,date,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2014-12-01,335.000000,335.000000,335.000000,335.000000,0.014139,4.881387,335.000000
1,2014-12-02,377.821429,377.857143,377.821429,377.857143,2.144800,810.724043,377.854911
2,2014-12-03,377.715714,377.715714,377.715714,377.715714,0.079515,30.041283,377.715714
3,2014-12-05,378.000000,378.000000,378.000000,378.000000,0.015000,5.670000,378.000000
4,2014-12-08,375.010000,375.010000,375.000000,375.000000,0.235000,88.125100,375.000426

In [ ]:

close = df.reset_index().pivot(index='date', columns='ticker', values='adj_close')